@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body {
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center;
}
#bkLink {
    color: #01af5b;
    position: relative;
}
#bkLink:hover {
    color: #00743c;
}
.TextSizeLarge     { font-size: 200%; }

#container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 2vh;
   
}
.box {
    background-color: #4d4d4d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
}
ul {
    text-align: left;
    list-style: none;
    
}