@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body {
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(40, 40, 40);
    color: white;
}

#form {
    background-color: #4d4d4d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 600px;
    padding-top: 10px;
}


.MainArea
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 600px;
}


.TextColorSecondary { color: #AAAAAA; }
.TextSizeXLarge     { font-size: 146%; }
.TextSizeSmall      { font-size: 92%;  }


.GroupXLargeMargin  { margin: 8px 0px 12px; }
.GroupLargeMargin   { width: 580px; margin-left: auto; margin-bottom: 8px; }
.TextSizeXLarge > a { color: #00bf63; }
.TextSizeXLarge > a:hover { color: #00743c;}

.MainActionContainer { padding: 5px 20px 5px 20px; min-height: 150px; }


input[type="text"], input[type="password"]
{
    width: 200px;
    border: solid 1px #707070;
    padding-left: 5px;
    padding-right: 5px;
}


.UsernamePasswordTable { margin-left: auto; margin-right: auto; }
.UsernamePasswordTable td { padding: 3px; }


.RightAlign { text-align: right; }

.UsernamePasswordTable .Label
{
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}


input[type="submit"].Resizable{width: auto;}
input:focus
{
    outline: none;
  border: solid green 1px;
}


input { color: white; background-color: #414040;}
input::placeholder { color: #AAAAAA; }


.btn {
    background-color: #01af5b;
    border: 1px solid #01af5b;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.btn:hover {
    background-color: #00743c;
    color: darkgrey;
    border: 1px solid #00743c;
}


#LOGO {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
}