/* Friend items in sidebar */
.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-radius: 6px;
  margin-bottom: 4px;
  background-color: #2f3136; /* updated background */
  color: white;
  width: 16.5vw; /* take 95% of the friends tab width */
  margin-left: auto;
  margin-right: auto;
  margin-left: 0.4vw;
}
@media screen and (max-width: 890px) {
  /* CSS rules for screens with a maximum width of 890px */
  * {
    display: none;
  }
}

.friend-buttons button {
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 3px;
  transition: 0.2s;
  padding: 0;
  height: 5vh;
  margin-top: 5px;
}

.options-btn {
  background: #555;
  color: white;
}

.options-btn:hover {
  background: #444;
}

.yes-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 76.5vw;
}

#chat-messages {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
}

#chat-form {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}
